:root {
  --primary-blue: #6ec0ff;
  --primary-background-color: #eef4fa;
  --primary-white: #fff;
  --primary-black: #222;
  --transition: all 300ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-background-color);
}

.container {
  display: flex;
  justify-content: space-between;
}

.bx {
  font-size: 2rem;
  color: var(--primary-blue);
}

.bx-menu {
  margin: 10px 20px 0 0;
  cursor: pointer;
}

.sidebar {
  width: 40%;
  background-color: var(--primary-white);
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-footer {
  text-align: center;
}

.sidebar-footer .bx {
  padding-right: 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  text-transform: capitalize;
}
.logo span {
  color: var(--primary-blue);
}

.fa-x {
  margin-top: 10px;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 20px 0;
}

.item {
  margin: 15px 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--primary-black);
}

.item:hover {
  transform: scale(1.05);
  color: var(--primary-blue);
}
